@font-face {
    font-family: awa;
    src: url(../FONTS/AbangFashion-DemoVersion-Black.otf);
}

body{
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif ;
}

/* OVERALL PAGE */
.container-1{
    margin: auto;
    width: 99%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

/* LEFT-SIDE */
/* overall left-side */
.sidebar{
    height: 290vh;
    width: 13%;
    background-color: black;
}

/* top of overall left-side */
.name-id{
    width: 100%;
    height: 3.5%;
    background-color: rgb(31, 27, 54);
    border-radius: 10px;
    position: relative;
    bottom: 9.7px;
}

.name-id-img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 9px;
}

.name-id p{
    padding-top: 10px;
    font-size: 0.8rem;
    transform: translate(10px, 0);
}

.name-id-img img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0.2px solid white;
}

/* navigation of left-side */

nav{
    width: 100%;
    height: 93.8%;
    background-color: rgb(31, 27, 54);
    border-radius: 10px;
}

nav img{
    width: 20px;
    height: 20px;
}

.nav-img{
    filter: invert(1);
    border-radius: 10px;
    transform: translate(-3px, 3px);
}

nav ul{
    list-style-type: none;
    height: 50%;
    margin: 0 auto;
}

nav ul li{
    padding-top: 30px;
    transform: translate(-30px, 5px);
    font-size: 1.1rem;
}

nav ul li a i{
    padding-right:5px;
    font-style: normal;
}

nav ul li a{
    text-decoration: none;
}

.nav-rest{
    padding-left: 15px;
    color: rgb(188, 185, 185);
}

.active{
    width: 125px;
    padding: 6px;
    padding-top: 3px;
    border-radius: 5px;
    background-color: rgb(171, 9, 168);
    transform: translate(-28px, 15px);
}

.active a{
    position: relative;
    bottom: 0px;
}

nav ul li a:hover, .active:hover{
    opacity: 0.8;
}

nav ul li a:active, .active:active{
    opacity: 0.5;
}

/* RIGHT-SIDE */
/* overall right-side */
.side{ 
    float: right;
    height: 50vh;
    width: 85%;
    background-color: black;
    margin-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* top of overall right-side */
.topbar{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    gap: 20px;
}

.greater-lower{
    flex-basis: 10%;
    height: 100%;
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.gl{
    margin:auto;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.gl button{
    background-color: rgb(52, 48, 75);
    border-radius: 200px;
    width: 33px;
    padding: 4px;
    border-style: none;
}

.gl button img{
    width: 40%;
    height: 20px;
    border-radius: 100%;
    filter: invert(1);
    margin-top: 10%;
}

.gl button:hover{
    opacity: 0.8;
}

.gl button:active{
    opacity: 0.5;
}

.tr:hover{
    opacity: 0.8;
    box-shadow:0 2px 2px 0 rgba(130, 105, 105, 0.493);
}

.tr:active{
    opacity: 0.5;
    box-shadow:0 3px 3px 0 rgba(130, 105, 105, 0.493);
}

.search-button{
    flex-basis: 60%;
    height: 75px;
    background-color: black;
    text-align: center;
    margin-left: 20px;
}

.search-button img{
    filter: invert(1);
    width: 14px;
    height: 15px;
    position: relative;
    left: 35px;
    top: 3%;
    border-radius: 30px;
}

#search{
    width: 60%;
    height: 50%;
    border-radius: 50px;
    background-color: rgb(52, 48, 75);
    padding-left: 40px;
    border-style: none;
    font-size: 0.8rem;
    margin-top: 8px;
}

input[type="search"]::placeholder{
    color: rgb(189, 181, 181);
}

.topbar-right{
    flex-basis: 30%;
    height: 100%;
    display: flex;
    gap: 30px;
    position: relative;
    left: -2%;
}

.tr{
    margin-top: 18px;
}

.topbar-right button{
    background-color: rgb(52, 48, 75);
    border-radius: 200px;
    width: 35px;
    height: 35px;
    border-style: none;
}

.settings img, .notifications img{
    width: 15px;
    height: 15px;
    filter: invert(1);
    border-radius: 20px;
    transform: translate(0px, 2px);
}


.settings{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: translate(15px,-10px);
}
.notifications{
    width: 20px;
    border-radius: 20px;
    transform: translate(25px,-10px);
}
.play-logo{
    width: 29px;
    height: 29px;
    background-color:rgb(171, 9, 168) ;
    border-radius: 20px;
    transform: translate(40px,42%);
}

.play-logo img{
    filter: invert(1);
    width: 15px;
    height: 15px;
    transform: translate(60%,45%);
}

.logo{
    font-family: awa;
    font-size: 1.2rem;
    transform: translate(20%,-5%);
}

.logo i{
    font-style: normal;
    color: rgb(143, 11, 141);
}

/* space */
.space{
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-top: 30px solid black;
}

/* imagebar of right-side */

.imagebar{
    width: 95.5%;
    margin-left: 35px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../IMAGES/983308_original_2160x2700.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.artist{
    display: flex;
    gap: 10px;
    padding-top: 90px;
}

.artist-img{
    width: fit-content;
    height: fit-content;
    border: 1px solid white;
    border-radius: 70px;
    transform: translate(-10px, 25px);
}

.artist-img img{
    width: 110px;
    height: 110px;
    border-radius: 70px;
}

.artist h2{
    font-size: 1.7rem;
    font-weight: 100;
    transform: translate(0, 55px);
    height: fit-content;
}

.artist-div{
    background-color: rgb(171, 9, 168);
    height: 17px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    transform: translate(0%,500%);
}

.artist-div div{
    position: relative;
    bottom: 52%;
}

.artist-div p{
    font-size: 0.7rem;
    text-align: center;
}

.download-div{
    display: flex;
    gap: 10px;
    width:150px ;
    height: 40px;
    background-color: rgb(52, 48, 75);
    transform: translate(-10%, -50px);
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    float: right;
}
.download-img{
    width: 25px;
    height: 25px;
    background-color: rgb(171, 9, 168);
    border-radius: 20px;
    transform: translate(5px, 10px);
}
.download-img img{
    filter: invert(1);
    width: 15px;
    height: 15px;
    transform: translate(0px, 5px);
    border-radius: 30px;
}

.download-div p{
    font-size: 0.7rem;
    transform: translate(0, 35%);
}

/* profilebar of right-side */
.profilebar{
    width: 95.5%;
    margin-left: 35px;
    height: 135px;
    background-color: black;
    margin-top: 30px;
}

.profilebar h2{
    width: 100%;
    height: 10%;
    padding-top: 30px;
    font-weight: 100;
    font-size: 1.3rem;
}

.profile-flex{
    width: 100%;
    height: 95.5%;
    display: flex;
    gap: 10px;
}

.profile-flex h3{
    font-size: 0.8rem;
    font-weight: 100;
}

.profile-flex p{
    font-size: 1.5rem;
    font-weight: 600;
    transform: translate(0, -8px);
}

.profile-flex b{
    font-size: 0.9rem;
    position: relative;
    bottom: 3px;
}

.profile-flex-items{
    background-color: rgba(43, 34, 91, 0.477);
    width: 250px;
    height: 60%;
    margin: 0 auto;
    margin-top: 13px;
    border-radius: 5px;
    text-align: center;
}


.profile-img{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.profile-flex-items h3 img{
    width: 13px;
    height: 13px;
    filter: invert(1);
    margin-right: 1%;
    position: relative;
    top: 1.5px;
}

/*streamsbar of right-side */

.streamsbar{
    width: 95.5%;
    margin-left: 35px;
    height: 400px;
}

.streamsbar-h2{
    width: 100%;
    height: 20%;
    background-color: black;
    text-align: center;
}

.streamsbar-h2 h2{
    padding-top: 40px;
}

.streams{
    width: 100%;
    height: 80%;
}

.streams-amount{
    width: 100%;
    height: 25%;
    display: flex;
}

.streams-amount-div{
    width: 100%;
    text-align: center;
}

.streams-amount-div p{
    font-size: 0.8rem;
}

.streams-amount-div h4{
    font-size: 1.2rem;
    position: relative;
    bottom: 15px;
}

.streams-amount-div h5{
    font-size: 0.6rem;
    font-weight: 100;
    position: relative;
    bottom: 38px;
}

.streams-amount-div-1{
    border-top:2px solid rgb(171, 9, 168) ;
    background-color: rgba(43, 34, 91, 0.477);
    width: 100%;
    height: 95%;
    border-top-left-radius: 10px;
}

.streams-amount-div-2{
    background-color: rgba(34, 30, 59, 0.477);
    width: 100%;
}

.streams-amount-div-3{
    border-left: 0.5px solid white;
    background-color: rgba(34, 30, 59, 0.477);
    width: 100%;
    border-top-right-radius: 10px;
}

.streams-graph{
    width: 99.6%;
    height: 30%;
    margin-left: 2px;
    background-image: url(../IMAGES/download.png);
    background-size: cover;
    background-position-y:300px ;
}

.see-more{
    background-color: rgba(43, 34, 91, 0.477);
    width: 100%;
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.see-more a{
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    top: 20px;
    font-size: 1rem;
    font-weight: 600;
    color:rgb(171, 9, 168) ;
}

.see-more a:hover{
    opacity: 0.8;
}

/* content */

.content{
    width: 95.5%;
    margin-left: 40px;
    height: 430px;
    position: relative;
    bottom: 90px;
}

.content h2{
    font-size: 1.6rem;
    font-weight: 100;
    padding-left: 0px;
    padding-bottom: 00px;
}

.grid-container-1{
    display: grid;
    grid-template-columns:repeat(3, 2fr);
    grid-template-rows:repeat(3, 1fr);
    gap: 10px;
    height: 90%;
}

.grid-items{
    padding: 20px;
    min-height: 120px;
    display: flex;
    gap: 0px;
    border-radius: 2px;
    background-color: rgba(43, 34, 91, 0.477);
}

.grid-imgs{
    float: left;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 15px;
    right:10px ;
    border-radius: 2px;
}

.grid-imgs img{
    border-radius: 10px;
    height: 100%;
    width: 90%;
}

.grid-writeup{
    float: right;
    height: 150px;
    width: 139px;
    position: relative;
    bottom: 20px;
    right: 10px;
    text-align: center;
}

.grid-writeup h3{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 300;
}

.grid-writeup p{
    font-size: 0.8rem;
    position: relative;
    bottom: 10px;
    right: 20px;
}

.grid-writeup i{
    font-size: 0.8rem;
    position: relative;
    top: 2px;
}

.grid-writeup button{
    width: 140px;
    height: 25px;
    position: relative;
    bottom: 5px;
    right: 0px;
    color: white;
    background-color: rgb(52, 48, 75);
    font-size: 0.7rem;
    border-radius: 5px;
}

.grid-writeup button:hover{
    opacity: 0.8;
}

.draft{
    margin-top: 140px;
}

.draft-flex{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
}

.draft-flex-img{
    margin: 0 auto;
    height: 70%;
    width: 90%;
    position: relative;
    top: 3px;
}

.draft-flex-img img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.draft-flex h3{
    position: relative;
    right:20px ;
    bottom: 4px;
    font-weight: 300;
    font-size: 0.9rem;
}
.draft-flex button{
    position: relative;
    bottom: 13px;
    height: 25px;
    width: 90%;
    background-color: rgb(52, 48, 75);
    color: white;
    border-radius: 5px;
}

.draft-flex-items{
    width: 170px;
    height: 100%;
    background-color: rgba(43, 34, 91, 0.477);
    border-radius: 5px;
}

.footer{
    height: 70px;
    margin: 0 auto;
    color: white;
}

.footer nav{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0;
    font-size: 0.9rem;
}

.footer nav ul{
    list-style-type: none;
    height: 50%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.footer nav ul li{
    padding-top: 20px;
    transform: translate(250px, 15px);
    font-size: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

nav ul li a:hover{
    opacity: 0.8;
}

nav ul li a:active{
    opacity: 0.5;
}
